:root{
    --primary-color: #000;
    --default-pixels: 4px;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1.4;
    padding: calc(var(--default-pixels) * 4);
}
.signature-pad-form{
    max-width: 300px;
    margin: 0 auto;
}
#signature-pad{
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: var(--default-pixels);
}
.clear-button{
    color: var(--primary-color);
}
button{
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    padding: calc(var(--default-pixels)) calc(var(--default-pixels) * 2);
    color: #fff;
    cursor: pointer;
    margin-top: calc(var(--default-pixels * 2));
}
@media(pointer: coarse){
    body{
        overflow: hidden;
    }
}
